.autocomplete-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.autocomplete-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.search-options label {
    margin-right: 10px;
}

.loading-indicator {
    margin-top: 10px;
}

.suggestions-list {
    position: absolute;
    margin-top: -1px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    padding: 4px 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: none;
}

.suggestion-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f1f1f1;
}

.suggestion-item div {
    font-size: 14px;
}

.last-search {
    margin-top: 64px;
    text-align: center;
}
